body, html{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
nav{
    display: flex;
    border: solid 1px black;
    background-color: #163b60;
    color: aliceblue;
    height: 100px;
    font-size: 40px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
}
input{
    height: 30px;
    vertical-align: middle;
    font-size: 18px;
}
.signin_system_text{
    text-align: center;
    font-size: 30px;
    margin-top: 22px;
    margin-bottom: 16px;
    transform: translate(10px);
}
.account{
    font-size: 20px;
    text-align: center;
}
.password{
    font-size: 20px;
    text-align: center;
    margin-bottom: 8px;
}
.agree{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    text-align: center;
    transform: translate(8px); 
    margin-bottom: 5px;
}
.signin_btn{
    text-align: center;
}
.cal_btn{
    text-align: center;
}

.number{
    font-size: 20px;
    text-align: center;
}