body, html{
    margin: 0;
}
nav{
    display: flex;
    border: solid 1px black;
    background-color: #163b60;
    color: aliceblue;
    height: 100px;
    font-size: 40px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
}
.text{
    text-align: center;
    font-size: 30px;
    margin-top: 15px;
}
.signin_btn{
    text-align: center;
    margin-top: 20px;
}