<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>week4-task</title>
    <link rel="stylesheet" type="text/css" href="/static/css/square.css">
</head>
<body>
    <nav>
        <div class="welcome">正整數平方計算結果</div>
    </nav>
    <main>
        <div class="text">{{ num }}</div>
        <div class="signin_btn">
            <a href="/" style="font-size: 24px; text-decoration: none; color: blue;">返回</a>
        </div>
    </main>
</body>
</html>