<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>week6-task</title>
    <link rel="stylesheet" type="text/css" href="/static/css/index.css">
</head>
<body>
    <nav>
        <div class="welcome">歡迎光臨，請註冊登入系統</div>
    </nav>
    <main>
        <div class="signin_system_text">註冊帳號</div>
        <form method="post" action="/signup">
            <div class="account">姓名 <input type="text" name="name" style="width: 300px;" required></div> <br>
            <div class="account">帳號 <input type="text" name="username" style="width: 300px;" required></div> <br>
            <div class="password">密碼 <input type="password" name="password" style="width: 300px;" required></div>
            <div class="signin_btn"><input type="submit" value="註冊"></div>
        </form>

        <br> <hr>
        <div class="signin_system_text">登入系統</div>
        <form method="post" action="/signin">
            <div class="account">帳號 <input type="text" name="username" style="width: 300px;" required></div> <br>
            <div class="password">密碼 <input type="password" name="password" style="width: 300px;" required></div>
            <div class="signin_btn"><input id="the_btn" type="submit" value="登入"></div>
        </form>
        
    </main>
    <script src="/static/js/index.js">  
    </script>  
</body>
</html>